<div class="posts-bg">
  <div class="container text-center">
    <div class="row">
      <div class="col-md-12">
        <h2>Zadanie rekrutacyjne dla Akquinet - <small>Maksymilian Blok</small></h2>
      </div>
    </div>
    <div class="row m-2">
      <div class="col-md-12">
        <h3>Aktualne posty na stronie <a href="https://wordpress.com/blog/">wordpress.com</a></h3>
      </div>
    </div>

    <div *ngIf="postsLoading">
      Ładowanie
    </div>
    <div *ngIf="postsLoading && error">
      Wystąpił błąd podczas pobierania danych
    </div>
    <div *ngIf="!postsLoading">

      <div class="row" *ngFor="let post of paginatorConfig.activePosts">
          <div class="col-md-8 post offset-md-2">
            <img class="post-thumbnail m-1" src="{{post.featured_image}}" alt="">
            <h4 class="m-2">{{post.title}}</h4>
            <span [innerHTML]="post.excerpt"></span>
            <button class="btn btn-primary m-2" routerLink="/post/{{post.ID}}">Read more</button>
          </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <h3>Wybierz stronę</h3>
          <button class="btn btn-primary m-3" [ngClass]="{'btn-secondary': i+1 === paginatorConfig.activePage, 'second': true, 'third': false}" *ngFor="let item of [].constructor(paginatorConfig.pages); let i = index" (click)="getPaginationPage(i+1, wordpressPosts)">{{i+1}}</button>
        </div>
      </div>
    </div>
  </div>
</div>

