<div class="posts-bg">
  <div class="container text-center">
    <div class="row">
      <div class="col-md-12">
        <h2>Zadanie rekrutacyjne dla Akquinet</h2>
        <small>Maksymilian Blok</small>
      </div>
    </div>
    <div class="row m-2">
      <div class="col-md-12">
        <h3>Aktualne posty na stronie <a href="https://wordpress.com/blog/">wordpress.com</a></h3>
      </div>
    </div>

    <div *ngIf="postsLoading">
      Ładowanie
    </div>
    <div *ngIf="postsLoading && error">
      Wystąpił błąd podczas pobierania danych
    </div>
    <div *ngIf="!postsLoading">
      <div class="row" *ngFor="let post of wordpressPosts.posts" routerLink="/post/{{post.ID}}">
          <div class="col-md-8 post offset-md-2">
            <img class="post-thumbnail m-1" src="{{post.featured_image}}" alt="">
            <h4 class="m-2">{{post.title}}</h4>
            <span [innerHTML]="post.excerpt"></span>
          </div>
      </div>
    </div>
  </div>
</div>

